/* Variables CSS */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Deca:wght@100..900&display=swap');

:root {

	/* Colores */
	--mainColor: #89ABD9;
	--secundaryColor: #1C4D8C;
	--warningColor: #730202;
	--endasisColor: #04BF55;

	/* Fuentes */
	--titlesFont: "Lexend Deca", sans-serif;
	--mainFont: "Lato", sans-serif;
}

/* Estilos generales */

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--mainFont);
}

.titles {
	font-family: var(--titlesFont);
	font-weight: bold;
}

.links {
	color: var(--secundaryColor);
	text-decoration: none;
}

header {
	background-color: var(--secundaryColor);
	color: #fff;
	padding: 20px 50px;
}

article {
	padding: 30px 50px;
	
	height: calc(100vh - 80px);
}

article p{
	margin-top: 20px;
}

.formContainer {
	padding: 30px 20px;
	display: grid;
	grid-template-columns: 1fr 40%;
	gap: 20px;
}

.imgContainer {
	width: 100%;
}

.imgContainer img {
	max-width: 100%;
	width: 100%;
}

form {
	padding: 30px 10% 10px 10%;
	background-color: var(--mainColor);
	border-radius: 50px;
}

form h3 {
	color: #fff;
	text-align: center;
	font-size: 2rem;
}

form div, p {
	margin: 30px 0px;
}

form input, select {
	display: block;
	width: 100%;
	margin: 5px 0px 10px 0px;
	padding: 10px 20px;
	border: none;
	outline: none;
	border-radius: 50px;
}

form label {
	margin: 0px 15px;
	font-weight: 500;
}

form select {
	border-radius: 20px;
}

input[type=submit] {
	display: block;
	width: 15rem;
	padding: 10px 30px;
	margin: 20px auto;
	background: var(--secundaryColor);
	text-align: center;
	font-size: 1.12rem;
	color: #fff;
	border: none;
	border-radius: 20px;
}

.menuHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	padding: 10px;
	background: var(--mainColor);
	box-shadow: 0px 1px 5px #000;
}
.menuTitle {
	display: flex;
	align-items: center;
}

.menuTitle .titles {
	margin-left: 20px;
}

.userdata {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.userdata span {
	margin-right: 20px;
}

.menuBars label {
	color: var(--secundaryColor);
}

.menuOpened {
	display: none;
}

.menuOptions {
	display: none;
	position: fixed;
	max-width: 12rem;
	width: 12rem;
	height: calc(100vh - 60px);
	padding-top: 10px;
	background: #fff;
	z-index: 1000000;
}

.menuClosed {
	display: inline-block;
}

#menu {
	display: none;
}

#menu:checked ~ .menuClosed {
	display: none;
}

#menu:checked ~ .menuOpened {
	display: inline-block;
}

.menuBtn {
	display: block;
	width: 90%;
	padding: 10px;
	margin: 20px auto;
	text-decoration: none;
	background: var(--secundaryColor);
	color: #fff;
	border-radius: 10px;
}

.btnLogout {
	background-color: var(--warningColor);
}

main {
	min-height: calc(100vh - 60px);
	padding: 20px;
	background-color: #d9d9d9;
}

.grid3 {
	display: grid;
	grid-template-columns: 1fr 1px 1fr;
	gap: 30px;
	background: none;
	padding: 50px;
}

.grid2Form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
}

.grid2 hr {
	border: 1px solid #000;
}

.lblImg {
	display: flex;
	justify-content: right;
}

.imgAdminProfile {
	max-width: 50%;
}

#img, #previewImgPP {
	display: none;
}

.canceLink {
	display: block;
	padding: 10px;
	background-color: var(--warningColor);
	color: #fff;
	text-decoration: none;
	text-align: center;
	border-radius: 10px;
}

.btnPencil {
	color: var(--secundaryColor);
}

.dasboardGrid3 {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}

.dasboardCard{
	padding-bottom: 20px;
	background-color: #fff;
	text-align: center;
	border-radius: 20px;
}

.dasboardCardImg {
	padding: 40px;
	margin-bottom: 30px;	
	background-color: var(--mainColor);
	color: #fff;
	border-radius: 20px 20px 0px 0px;
}